@mixin isFlex($align: center, $justify: center, $direction: row, $wrap: wrap) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;
}

@mixin bgImage($url, $repeat: no-repeat, $position: center, $size: initial) {
  background-image: url($url);
  background-repeat: $repeat;
  background-position: $position;
  background-size: $size;
}


@mixin phone-only {
  @media (max-width: 599px) { @content; }
}

@mixin tablet-small {
  @media (min-width: 600px) { @content; }
}

@mixin tablet-medium {
  @media (min-width: 767.98px) { @content; }
}

@mixin tablet-large {
  @media (min-width: 900px) { @content; }
}

@mixin desktop {
  @media (min-width: 1200px) { @content; }
}

@mixin desktop-large {
  @media (min-width: 1800px) { @content; }
}
