$font-size-root: 20px;
$heading-font-family: "Georgia", sans-serif;

$main-font-family: "Arial", sans-serif;


$mainBgColor: #f2f3f7;

$heading-text-color: #545454;
$accent-color: #f1cdb3;

$white: #fafafa;

$animate: all 0.2s ease-in-out;
