section.donation
    .donation__img
        img(src="./img/donation.png")
    .donation__content
        h2 In addition, you  can make a donation
        .donation__credentials
            .donation__credentials-title Name of the bank / Type of bank account
            .donation__credentials-account
                img(src="./img/svg/credit-card.svg").donation__credentials-account__icon
                span.donation__credentials-account__number 8380 2880 8028 8791 7435
        p.donation__credentials-desc Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.