.about {
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column-reverse;
  row-gap: 3rem;
  justify-content: space-evenly;
  align-items: center;

  @include tablet-medium {
    flex-direction: row;
    padding-top: 5.5rem;
    padding-bottom: 5.5rem;
  }

  @include phone-only {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h2 {
    margin-bottom: 2rem;
  }

  p {
    font-family: $main-font-family;
    font-size: 15px;
    line-height: 1.6;
    color: #4c4c4c;

    @include tablet-large {
      font-size: 15px;
    }

    @include tablet-medium {
      font-size: 13px;
    }
  }

  &__img img {
    width: 100%;

    @include tablet-large {
      max-width: 300px;
    }

    @include tablet-medium {
      max-width: 250px;
    }
  }

  &__content {
    flex: 0.5;
  }
}
