// Переменные, миксины, функции
@import "helpers/variables";
@import "helpers/mixins";

// CSS-файлы библиотек
@import "vendor/libs";

// Основное
@import "base/fonts";
@import "base/general";

// БЭМ-блоки
@import "../blocks/modules/modules";
@import "../blocks/components/components";