section.help#help
    h2 Than you can help out shelter
    ul.help__list
        li.help__item
            img.help__icon(src="img/svg/cat-food.svg")
            p.help__title Pet food
        li.help__item
            img.help__icon(src="img/svg/ambulance.svg")
            p.help__title Transportation
        li.help__item
            img.help__icon(src="img/svg/ball.svg")
            p.help__title Toys
        li.help__item
            img.help__icon(src="img/svg/bowl.svg")
            p.help__title Bowls and cups
        li.help__item
            img.help__icon(src="img/svg/shampoo.svg")
            p.help__title Shampoos
        li.help__item
            img.help__icon(src="img/svg/pills.svg")
            p.help__title Vitamins
        li.help__item
            img.help__icon(src="img/svg/syringe.svg")
            p.help__title Medicines
        li.help__item
            img.help__icon(src="img/svg/leash.svg")
            p.help__title Collars / leashes
        li.help__item
            img.help__icon(src="img/svg/cat.svg")
            p.help__title Sleeping area

