.backdrop {
  position: fixed;
  background-color: rgba(61, 53, 55, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: visible;
}