.btn {
  font-family: $heading-font-family;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  display: block;
  color: #292929;
  padding: 15px 40px;
  border-radius: 26px;
  outline: none;
  cursor: pointer;
  transition: $animate;
}