.footer {
  background: url("../../../img/bg.png");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  //flex-direction: column;
  flex-direction: row;

  align-items: flex-start;
  row-gap: 40px;
  position: relative;
  overflow: hidden;
  padding: 2rem 3rem;

  @include tablet-large {
    //flex-direction: row;
    padding: 3rem 8rem;
  }

  @include phone-only {
    flex-direction: column;
    padding: 30px;
    row-gap: 1rem;
  }


  &::after {
    display: none;
    content: url("../../../img/footer_dog.png");
    position: absolute;
    bottom: -5px;

    @include desktop {
      right: 165px;
      display: block;
    }
  }

  h2 {
    color: #ffffff;
    margin: 0;
    @include phone-only {
      font-size: 18px;
    }
    }

  &__contacts {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 10px;
    line-height: 2.2;
    width: auto;

    @include phone-only{
      line-height: 1.2;
    }

    @include desktop {
      padding: 40px;
      width: 33%;
      row-gap: 0.5rem;
    }

    a {
      font-family: "Times New Roman", sans-serif;
      font-size: 15px;
      letter-spacing: 1px;
      color: $accent-color;
      white-space: nowrap;

      @include tablet-medium {
        font-size: 20px;
      }
    }
  }

  &__location {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 10px;
    width: auto;

    @include desktop {
      padding: 40px;
      width: 33%;
      row-gap: 0.5rem;
    }

    span {
      font-family: "Times New Roman", sans-serif;
      letter-spacing: 1px;
      color: $accent-color;
      font-size: 15px;

      @include tablet-medium {
        font-size: 20px;
      }
    }
  }
}

.contacts__email {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &-icon {
    width: 35px;
  }
}

.contacts__tel {
  display: flex;
  align-items: center;
  column-gap: 20px;
  &-icon {
    width: 35px;
  }
}

.location__mark {
  display: flex;
  align-items: center;
  column-gap: 20px;

  &-icon {
    width: 25px;
  }
}