section.footer#contacts
    .footer__contacts
        h2 For questions and suggestions
        .contacts__email
            img.contacts__email-icon(src="./img/svg/envelope.svg")
            a(href="mailto:email@shelter.com") email@shelter.com
        .contacts__tel
            img.contacts__tel-icon(src="./img/svg/telephone.svg")
            a(href="tel:+13 674 567 75 54") +13 674 567 75 54
    .footer__location
        h2 We are waiting for your visit
        .location__mark
            img.location__mark-icon(src="./img/svg/pin.svg")
            span Boston, Central Street, 1st (Entrance from the store)
        .location__mark
            img.location__mark-icon(src="./img/svg/pin.svg")
            span London, South Park, 18st
