section.house#house
    h2 Our friends who <br> are looking for a house
    .splide
        .splide__arrows
            button.splide__arrow.splide__arrow--prev
                img(src="./img/svg/arrow.svg")
            button.splide__arrow.splide__arrow--next
                img(src="./img/svg/arrow.svg")

        .splide__track
            ul.slider.splide__list
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Katrine.png", alt="cat")
                    .slider__content
                        h3.slider__title Katrine
                        a.btn.slider__btn Learn More
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Jennifer.png", alt="dog")
                    .slider__content
                        h3.slider__title Jennifer
                        a.btn.slider__btn Learn More
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Woody.png", alt="dog")
                    .slider__content
                        h3.slider__title Woody
                        a.btn.slider__btn Learn More
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Katrine.png", alt="cat")
                    .slider__content
                        h3.slider__title Katrine
                        a.btn.slider__btn Learn More
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Jennifer.png", alt="dog")
                    .slider__content
                        h3.slider__title Jennifer
                        a.btn.slider__btn Learn More
                li.slider__item.splide__slide
                    .slider__img
                        img(src="./img/Woody.png", alt="dog")
                    .slider__content
                        h3.slider__title Woody
                        a.btn.slider__btn Learn More
    a(href="#contacts").btn.house__btn Get to know the rest

