/* src/assets/styles/layout/_general.scss */

*,
:after,
:before  {
  box-sizing: border-box;
  outline: none;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: $white;
}

section {
  padding: 0 30px;

  &:nth-child(odd):not(.hero) {
    background: #f6f6f6;
  }

  @include tablet-small {
    padding: 0 calc(50% - 270px);
  }

  @include tablet-medium {
    padding: 0 calc(50% - 360px);
  }

  @include tablet-large {
    padding: 0 calc(50% - 480px);
  }

  @include desktop {
    padding: 0 calc(50% - 590px);
  }
}


h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: $animate;

  &:visited {
    //color: white;
  }
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

h2 {
  font-family: $heading-font-family;
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.285;
  margin: 0 auto;
  color: $heading-text-color;

  @include tablet-large {
    font-size: 35px;
  }

}